<template >
  <div class="row my-2">
    <div class="col-12">
      <h3>Add Todo</h3>
    </div>
    <div class="col-9">
      <input type="text" v-model="todoText" class="form-control" />
    </div>
    <div class="col-3">
      <button @click="addTodo()" class="btn btn-primary btn-block">Add Todo</button>
    </div>
    <div class="col-12 my-2" v-if="errorMsg.length > 0">
      <div class="alert alert-danger">{{errorMsg}}</div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../main";
export default {
  data: function() {
    return {
      todoText: "",
      errorMsg: ""
    };
  },
  methods: {
    addTodo() {
      if (this.todoText.length > 0) {
        this.errorMsg = "";
        eventBus.$emit("todoText", this.todoText);
      } else {
        this.errorMsg = "İçerik Boş Olamaz";
      }
    }
  }
};
</script>