<template >
  <div v-if="completedTodos.length > 0">
    <h3>Completed Todo</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Todo Text</th>
          <th>Proccess</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="todo in completedTodos">
          <td>{{todo.id}}</td>
          <td>{{todo.todo}}</td>
          <td>
            <strong>Completed!</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { eventBus } from "../main";
export default {
  data: function() {
    return {
      completedTodos: []
    };
  },
  created: function() {
    var vm = this;
    eventBus.$on("todoItem", function(todo) {
      vm.completedTodos.push(todo);
    });
  }
};
</script>