<template >
  <div v-if="todoList.length > 0">
    <h3>Active Todo List</h3>
    <table class="table table-striped" v-if="todoList.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>Todo Text</th>
          <th>Proccess</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="todo in todoList">
          <td>{{todo.id}}</td>
          <td>{{todo.todo}}</td>
          <td>
            <button @click="completedTodo(todo)" class="btn btn-info">Complete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { eventBus } from "../main";
export default {
  data: function() {
    return {
      todoList: [],
      todoText: "",
      iCount: 0
    };
  },
  created: function() {
    var vm = this;
    eventBus.$on("todoText", function(data) {
      //alert(data);
      vm.todoText = data;
      var list = {
        id: vm.iCount,
        todo: vm.todoText
      };
      vm.todoList.push(list);
      vm.iCount++;
    });
  },
  methods: {
    completedTodo(todo_item) {
      var todo = this.todoList;
      var vm = this;

      todo = todo.splice(todo.indexOf(todo_item), 1);
      eventBus.$emit("todoItem", todo_item);
    }
  }
};
</script>