<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <add-todo></add-todo>
        <todo-list></todo-list>
        <completed-todo></completed-todo>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
